# Environment Configuration
FLASK_ENV=development
API_PORT=5000
DEBUG=True

# API Keys
ESPN_API_KEY=
RAPID_API_KEY=

# Notification
SENDGRID_API_KEY=
MAIL_FROM=your_verified_sender@example.com
NOTIFY_EMAIL=marionstozier15@gmail.com
